<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>MEU SAEB DIGITAL</title>
</head>
<body>
    <div class="container-sm">
        <hr>
    <h1 class="h1 text-center bg-primary text-light" >JULHO E AGOSTO</h1>
    <hr>
    <h2 class="display-5 text-center">LÍNGUA PORTUGUESA</h2>
    <div class="card">
        <div class="card-body">
            <a href="/lpd1" class="btn btn-outline-primary btn-lg btn-block">D1 – Localizar informações explícitas em um texto</a>
            <a href="/lpd3" class="btn btn-outline-primary btn-lg btn-block">D3 – Inferir o sentido de uma palavra ou expressão</a>
            <a href="/lpd15" class="btn btn-outline-primary btn-lg btn-block">D15 - Reconhecer diferentes formas de tratar uma informação ...</a>
            <a href="/lpd8" class="btn btn-outline-primary btn-lg btn-block">D8 -  Estabelecer relação  causa/consequência entre partes e elementos do texto.</a>
            <a href="/lpd10" class="btn btn-outline-primary btn-lg btn-block">D10 – Identificar as marcas linguísticas que evidenciam o locutor e o interlocutor de um texto.</a>
            <a href="/lpd11" class="btn btn-outline-primary btn-lg btn-block">D11 – Distinguir um fato da opinião relativa a esse fato.</a>
            <a href="/lpd12" class="btn btn-outline-primary btn-lg btn-block">D12 - Estabelecer relações lógico-discursivas presentes no texto, marcadas por conjunções, advérbios etc.</a>
        </div>
    </div>
    <br>
    <h2 class="display-5 text-center">MATEMÁTICA</h2>
    <div class="card">
        <div class="card-body">
            <a href="/matd18" class="btn btn-outline-primary btn-lg btn-block">D18 - Calcular o resultado de uma multiplicação ou divisão ...</a>
            <a href="/matd19" class="btn btn-outline-primary btn-lg btn-block">D19 – Resolver problema, envolvendo...adição ou subtração</a>
            <a href="/matd20" class="btn btn-outline-primary btn-lg btn-block">D20 - Resolver problema, envolvendo...multiplicação ou divisão</a>
            <a href="/matd21" class="btn btn-outline-primary btn-lg btn-block">D21 - Identificar diferentes representações de um mesmo número racional.</a>
            <a href="/matd22" class="btn btn-outline-primary btn-lg btn-block">D22 - Identificar a localização de números racionais ... na forma decimal na reta numérica.</a>
            <a href="/matd23" class="btn btn-outline-primary btn-lg btn-block">D23 - Resolver problema utilizando a escrita decimal de cédulas e moedas do sistema monetário brasileiro.</a>
            <a href="/matd24" class="btn btn-outline-primary btn-lg btn-block">D24 - Identificar fração como representação que pode estar associada a diferentes significados.</a>
            <a href="/matd25" class="btn btn-outline-primary btn-lg btn-block">D25 - Resolver problema com números racionais expressos na forma decimal envolvendo diferentes significados da adição ou subtração.</a>
            <a href="/matd26" class="btn btn-outline-primary btn-lg btn-block">D26 - Resolver problema envolvendo noções de porcentagem (25%, 50%, 100%).</a>
            <a href="/matd27" class="btn btn-outline-primary btn-lg btn-block">D27 - Ler informações e dados apresentados em tabelas.</a>
            <a href="/matd28" class="btn btn-outline-primary btn-lg btn-block">D28 - Ler informações e dados apresentados em gráficos (particularmente em gráficos de colunas).</a>
            <a href="/matd2" class="btn btn-outline-primary btn-lg btn-block">D2 - Identificar propriedades comuns e diferenças entre poliedros e corpos redondos, relacionando figuras tridimensionais com suas planificações.</a>
            <a href="/matd3" class="btn btn-outline-primary btn-lg btn-block">D3 - Identificar propriedades comuns e diferenças entre figuras bidimensionais pelo número de lados, pelos tipos de ângulos.</a>
            <a href="/matd4" class="btn btn-outline-primary btn-lg btn-block">D4 - Identificar quadriláteros observando as posições relativas entre seus lados (paralelos, concorrentes, perpendiculares).</a>
            <a href="/matd5" class="btn btn-outline-primary btn-lg btn-block">D5 - Reconhecer a conservação ou modificação de medidas dos lados, do perímetro, da área em ampliação e/ou redução de figuras poligonais usando malhas quadriculadas.</a>

        </div>
    </div>
    <br>

    </div>    
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
</html>