<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>MEU SAEB DIGITAL</title>
</head>
<body>
    <div class="container-sm">
    <h1 class="h1 text-center">MÊS DE JULHO</h1>
    <div class="card">
        <div class="card-body">
            <a href="/lpd1" class="btn btn-outline-primary btn-lg btn-block">D1 – Localizar informações explícitas em um texto;</a>
        </div>
    </div>
    <br>

    </div>    
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
</html>