<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>MEU SAEB DIGITAL</title>
</head>
<body>
    <div class="container-sm">
        <hr>
    <h1 class="h1 text-center bg-primary text-light" >JULHO E AGOSTO</h1>
    <hr>
    <h2 class="display-5 text-center">LÍNGUA PORTUGUESA</h2>
    <div class="card">
        <div class="card-body">
            <a href="/lpd1" class="btn btn-outline-primary btn-lg btn-block">D1 – Localizar informações explícitas em um texto</a>
            <a href="/lpd3" class="btn btn-outline-primary btn-lg btn-block">D3 – Inferir o sentido de uma palavra ou expressão</a>
            <a href="/lpd15" class="btn btn-outline-primary btn-lg btn-block">D15 - Reconhecer diferentes formas de tratar uma informação ...</a>
        </div>
    </div>
    <br>
    <h2 class="display-5 text-center">MATEMÁTICA</h2>
    <div class="card">
        <div class="card-body">
            <a href="/matd18" class="btn btn-outline-primary btn-lg btn-block">D18 - Calcular o resultado de uma multiplicação ou divisão ...</a>
            <a href="/matd19" class="btn btn-outline-primary btn-lg btn-block">D19 – Resolver problema, envolvendo...adição ou subtração</a>
            <a href="/matd20" class="btn btn-outline-primary btn-lg btn-block">D20 - Resolver problema, envolvendo...multiplicação ou divisão</a>
        </div>
    </div>
    <br>

    </div>    
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
</html>