<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Língua Portuguesa D3</title>
</head>
<body class="bg-primary">
  <div class="h3 text-lg-center text-white">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</div>
      <div class="h3 text-lg-center text-white">5º ANO TURMA A</div>  
  <hr>
  <header class="container-sm">
    <h4>D3 – Inferir o sentido de uma palavra ou expressão;</h4>
  </header>
    <div class="container-sm">
      
      <form method="POST" action="/gabarito_lpd1" onsubmit="return validarFormulario()">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <div class="container-sm">

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="h5">O Desenhista</div>
                  <p class="texto_paragrafo">A professora pegou Joãozinho na sala de aula desenhando caricaturas de seus amiguinhos.</p>
                  <p class="texto_paragrafo">Tomou seu caderno e disse:</p>
                  <p class="texto_paragrafo">– Vamos mostrar para a diretora e ver o que ela acha disso!</p>
                  <p class="texto_paragrafo">Chegando na sala da diretora, após esta olhar com atenção para os desenhos, exclamou:</p>
                  <p class="texto_paragrafo">– Muito bonito isso, não é, seu Joãozinho?</p>
                  <p class="texto_paragrafo">Respondeu Joãozinho com a maior naturalidade do mundo:</p>
                  <p class="texto_paragrafo">– Bonito e bem desenhado. Na verdade, eu sempre soube que era um grande artista, mas a modéstia me impedia de falar sobre o assunto. Mas agora, vindo da senhora, sei que é sincero, por isso ﬁco muito contente!</p>
                  <small>Disponível em: <www.sitededicas.uol.com.br> Acesso em: 19 maio 2008. </small>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 1</h5>
                  <p class="card-text">No trecho “A professora <b>pegou</b> Joãozinho, na sala de aula desenhando...”, a palavra destacada signiﬁca</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q1" value="A" maxlength="1">-surpreendeu, ﬂagrou.</li>
                          <li><input type="radio" name="q1" value="B" maxlength="1">-contraiu, infectou-se.</li>
                          <li><input type="radio" name="q1" value="C" maxlength="1">-apanhou, segurou.</li>
                          <li><input type="radio" name="q1" value="D" maxlength="1">-adquiriu, tomou posse.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="card-title h5">Bons amigos</div>
                  <p class="texto_paragrafo">Abençoados os que possuem amigos, os que os têm sem pedir.</p>
                  <p class="texto_paragrafo">Porque amigo não se pede, não se compra, nem se vende. </p>
                  <p class="texto_paragrafo">Amigo a gente sente!</p>
                  <p class="texto_paragrafo">Benditos os que sofrem por amigos, os que falam com o olhar.</p>
                  <p class="texto_paragrafo">Ou te apontam a realidade.</p>
                  <p class="texto_paragrafo">Porque amigo é a direção.</p>
                  <p class="texto_paragrafo">Amigo é a base quando falta o chão!</p>
                  <p class="texto_paragrafo">Benditos sejam todos os amigos de raízes, verdadeiros.</p>
                  <p class="texto_paragrafo">Porque amigos são herdeiros da real sagacidade.</p>
                  <p class="texto_paragrafo">Ter amigos é a melhor cumplicidade! [...]</p>
                  <small>Disponível em: <http://radioglobo.globoradio.globo.com/manha-da-globo-sp/2011/07/20/VOCE-MERECE-SER-FELIZ-BONS-AMIGOS.htm>. Acesso em: 12 ago. 2011.</small>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 2</h5>                

                      <p class="card-text">No verso “Amigo é a <b>base</b> quando falta o chão!” (v. 10), a palavra em destaque tem o sentido de </p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q2" value="A" maxlength="1">-ensinamento.</li>
                          <li><input type="radio" name="q2" value="B" maxlength="1">-ingrediente.</li>
                          <li><input type="radio" name="q2" value="C" maxlength="1">-origem.</li>
                          <li><input type="radio" name="q2" value="D" maxlength="1">-suporte.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                    <div class="card-title">Observe a imagem abaixo:</div>

                  <div class="text-center"><img class="img-fluid" src="/img/lpd3_3.png" alt=""></div>
                    <br>
                  <h5 class="card-title">QUESTÃO 3</h5>
                  <br>
                  <p class="card-text">A palavra <b>“gentil”</b>, no primeiro quadrinho, significa</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q3" value="A" maxlength="1">-educado.</li>
                          <li><input type="radio" name="q3" value="B" maxlength="1">-alegre.</li>
                          <li><input type="radio" name="q3" value="C" maxlength="1">-corajoso.</li>
                          <li><input type="radio" name="q3" value="D" maxlength="1">-esperto.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">Leia a tirinha abaixo:</div>
                  <div class="card-title text-center"><img class="img-fluid" src="/img/lpd3_4.png" alt=""></div>

                      <br>
                  <h5 class="card-title">QUESTÃO 4</h5>
                  
                  <p class="card-text">Na fala do primeiro balão o “compadre” usa palavras no aumentativo para impressionar o amigo de pescaria. 
                    Dentre os aumentativos que ele usa, <b>BOCARRA</b> significa
                    </p>
                  <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q4" value="A" maxlength="1">-rapaz grande.</li>
                          <li><input type="radio" name="q4" value="B" maxlength="1">-homem grande.</li>
                          <li><input type="radio" name="q4" value="C" maxlength="1">-boca grande.</li>
                          <li><input type="radio" name="q4" value="D" maxlength="1">-peixe grande.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">Leia o cartaz abaixo e responda:</div>
                  <div class="text-center"><img class="img-fluid" src="/img/lpd3_5.png" alt=""></div>
                  <br>
                  <h5 class="card-title">QUESTÃO 5</h5>
                 
                  <p class="card-text">A palavra <b>“CASA”</b> no título do cartaz se refere</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio" name="q5" value="A" maxlength="1">-ao planeta Terra.</li>
                          <li><input type="radio" name="q5" value="B" maxlength="1">-a todos os planetas.</li>
                          <li><input type="radio"  name="q5" value="C" maxlength="1">-à casa de nossos pais.</li>
                          <li><input type="radio" name="q5" value="D" maxlength="1">-às casas dos animais.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">Leia o texto abaixo e responda.</div>
                  <div class="text-center"><img class="img-fluid" src="/img/lpd3_6.png" alt=""></div>
            
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 6</h5>
                  <p class="card-text">A expressão <b>“o pai era uma onça”</b>, significa que </p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q6" value="A" maxlength="1">-o pai era muito feio.</li>
                          <li><input type="radio" name="q6" value="B" maxlength="1">-o pai era muito bravo.</li>
                          <li><input type="radio" name="q6" value="C" maxlength="1">-o pai era muito sério. </li>
                          <li><input type="radio" name="q6" value="D" maxlength="1">-o pai era muito alegre.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">Observe com atenção os quadrinhos a seguir.</div>
                  <div class="text-center"><img class="img-fluid" src="/img/lpd3_7.png" alt=""></div>
                  
                  <br>

                  <h5 class="card-title">QUESTÃO 7</h5>

                  <p class="card-text">O autor considera que o gato tem função “autolimpante”. Isso quer dizer que</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio" name="q7" value="A" maxlength="1">-alguém limpa o gato..</li>
                          <li><input type="radio" name="q7" value="B" maxlength="1">-o gato se limpa sozinho.</li>
                          <li><input type="radio" name="q7" value="C" maxlength="1">-às vezes o gato se limpa.</li>
                          <li><input type="radio" name="q7" value="D" maxlength="1">-o gato não se limpa.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">Observe a imagem abaixo:</p>
                  
                  <div class="text-center"><img class="card-img-full" src="/img/lpd1_8.png" alt=""></div>
                  <br>
                  <h5 class="card-title">QUESTÃO 8</h5>
                  <p class="card-text">De acordo com esse texto, a tampa de garrafa de água será usada para</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q8" value="A" maxlength="1">-cortar as rodelas de presunto.</li>
                          <li><input type="radio" name="q8" value="B" maxlength="1">-espetar as frutas no palito.</li>
                          <li><input type="radio" name="q8" value="C" maxlength="1">-passar margarina nas rodelas.</li>
                          <li><input type="radio" name="q8" value="D" maxlength="1">-passar o requeijão no pão.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">SER BICHO DÁ TRABALHO!</h5>
                  <p class="texto_paragrafo">Cachorros, cavalos, galinhas e muitos outros animais são criados no mundo inteiro.</p>
                  <p class="texto_paragrafo">Mas, dependendo do lugar, as pessoas domesticam alguns bichos bem diferentes.</p>
                  <p class="texto_paragrafo">Em países como a Índia, por exemplo, o melhor amigo do homem não é o cachorro e sim o elefante asiático. Ele é usado para muitas coisas: montaria, puxar carroças ou carregar coisas pesadas, como troncos de árvore!</p>
                  <p class="texto_paragrafo">No Japão, foi inventado um jeito bem original de pescar. Alguns pescadores treinam uma ave chamada cormorão para mergulhar e voltar ao barco trazendo peixes no bico. Para evitar lanches durante o trabalho, ela sempre mergulha com uma coleira de couro apertada no pescoço. Assim, o cormorão não consegue engolir o peixe que pegou.</p>
                  <small>Revista Sesinho, ano 2, nº 23, seção Saiba Mais, p.33.</small>
                  <br>
                  <br>  
                  <h5 class="card-title">QUESTÃO 9</h5>
        
                  <p class="card-text">Cormorão é</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q9" value="A" maxlength="1">-uma coleira.</li>
                          <li><input type="radio" name="q9" value="B" maxlength="1">-uma ave.</li>
                          <li><input type="radio" name="q9" value="C" maxlength="1">-um peixe.</li>
                          <li><input type="radio" name="q9" value="D" maxlength="1">-um elefante.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">ELA É SUPER</h5>
                  <p class="texto_paragrafo">Conheça as habilidades da onça-pintada e saiba mais sobre esse felino.</p>
                  <p class="texto_paragrafo">Capaz de se disfarçar na mata, andar com leveza, escalar árvores altas e atravessar rios, a onça parece ter os poderes de invisibilidade de um guerreiro ninja. Ela usa todas essas habilidades para caçar e se proteger. Costuma ser mais ativa quando o sol se põe e pode caçar à noite, pois enxerga bem no escuro e tem audição e olfato aguçados.</p>
                  <p class="texto_paragrafo">Como tem pernas curtas, ela não corre. Se esconde, segue a presa sem ser percebida e ataca saltando de um galho ou do meio da mata de repente, com uma mordida mais forte do que a de felinos maiores.</p>
                  <small>Revista Recreio. São Paulo: Abril, n.487, p.20, 9 de jul. 2009. Fragmento. </small>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 10</h5>
                  <br>
                  <p class="card-text">De acordo com esse texto, a onça-pintada usa suas habilidades para</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q10" value="A" maxlength="1">-aguçar o olfato.</li>
                          <li><input type="radio" name="q10" value="B" maxlength="1">-caçar e se proteger.</li>
                          <li><input type="radio" name="q10" value="C" maxlength="1">-enxergar no escuro.</li>
                          <li><input type="radio" name="q10" value="D" maxlength="1">-ficar invisível.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <br>           
          <br>

        </div>

                
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="/js/script.js"></script>
</html>